*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url('./clock-night-time-illustration-midnight-old-backgrounds-generative-ai.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#time{
    width: 50%;
    height: 250px;
    /* border: 2px solid red; */
    margin: 0 auto;
    position: relative;
    top: 170px;
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

button{
    position: relative;
    padding: 15px 30px;
    margin-left: 620px;
    margin-top: 300px;
    background: transparent;
    color: white;
    z-index: 1;
    border-radius: 10px;
    border: none;
    border: 1px solid white;
    cursor: pointer;
}

.photo1{
    background: url('./pexels-matej-117839-1034425.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}